{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>W.I.R.E. - Web Interfaced Reverb Engine</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    
    <body>
        <div id="header">
            <h1>W.I.R.E. - Web Interfaced Reverb Engine</h1>
        </div>
        <div >
            <center>
            <h2>Search for audio files</h2>
            </center>
        </div>
        <div class="frame">
            <form method="get">
                <table class="form">
                {{ query_API }}
                </table>
                <input name="Search" type="submit" value="Search" />
            </form>
            <hr />
            <center>
            <h2>Choose from Results</h2>
            </center>
        <div class="frame">
            {% if result != None %}
            <p class="num_results">Results: {{ num_results }}</p>
            <div class="results">
                <table class="courses">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>    
            <form method="get">
                <table class="form">
                {{ resform }}
                </table>
                <input name="Download" type="submit" value="Download" />
            </form>
            <hr />
            <center>
            <h2>Select Sound Transformations</h2>
            </center>
            <form method="get">
                <table class="form">
                {{ form2 }}
                </table>
                <input type="submit" value="Search" />
            </form>
        </div>


        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        
    </body>
</html>
