{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>W.I.R.E. - Web Interfaced Reverb Engine</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    
    <body>
        <div id="header">
            <h1>W.I.R.E. - Web Interfaced Reverb Engine</h1>
        </div>
        <div >
            <center>
            <h2>Search for audio files</h2>
            </center>
        </div>
        <div class="frame">
            <form method="get">
                <table class="form">
                {{ query_API }}
                </table>
                <input name="Search" type="submit" value="Search" />
            </form>
        </div>
            <hr />
            <center>
            <h2>Choose from Results</h2>
            </center>
        <div class="frame">
            {% if result != None %}
            <p class="num_results">Results: {{ num_results }}</p>
            <div class="results">
                <table class="courses">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        <div class="frame">    
            <form method="get">
                <table class="form">
                {{ resform }}
                </table>
                <input name="Download" type="submit" value="Download" />
                <br>
                <br>
                {{ message1 }}
                <br>
                <br>
            </form>
        </div>    
            <hr />
            <center>
            <h2>Choose Sound Transformation</h2>
            </center>
            <br>
        <p> Instructions:<br>
	  <ul>
	        <li>The temporary file "!JUST_DOWNLOADED" is the file that you just downloaded.
                <li>For convolution, choose any 2 sounds from the lists below. Convolution with an impulse response imparts a reverb effect. 
                <li>For ring modulation, choose one sound and input a frequency in Hz. The signals will be multiplied, imparting over- and undertones. 
                <li>For pitch shift, choose one sound and input a decimal number by which to shift. 1.0 leaves the pitch unchanged, 0.5 slows it down by half, 1.5 speeds it up by 50 percent, and so on.
		<li>For delay, choose one sound and input a delay time in seconds, a delay amount (1.0 makes the first reflection exactly as loud as the initial sound), and a feedback amount (maximum of 0.95). 
		<li>If no transformation is desired, just choose the sound you want. 
	        <li>Then hit "Transform" - your dry and transformed audio and a spectrogram for each will be available for download at the bottom once the page refreshes.
	</ul>
            </p>
        </div>    
        <div class="frame">    
            <form method="get">        
                <table class="form">
                {{ transform }}
                </table>
                <input name= "Transform" type="submit" value="Transform" />
                <br>
                {{ message2 }}
                <br>    
            </form>      
            </p> 
        </div>
<p>

  Recommend you "save as..." these links, as their content will change after the next transformation, and not all browsers readily play .wav files.
  <ul>
    <li><a href="../static/temp_dry.wav" target="_blank">Dry file</a>
    <li><a href="../static/temp_wet.wav" target="_blank">Wet file</a>
    <li><a href="../static/temp_dry.png" target="_blank">Dry spectgrogram</a>
    <li><a href="../static/temp_wet.png" target="_blank">Wet Spectgrogram</a>
  </ul> 
</p>
	<br>
    </body>
</html>
